# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# База данных - замените значения на реальные
DATABASE_URL="postgresql://username:password@hostname:port/database?schema=public"

# Настройки приложения
NODE_ENV="development" # development, production, test
PORT=3001
CORS_ORIGIN="http://localhost:3000" # В продакшене замените на ваш домен

# Максимальный размер загрузки файлов (в байтах, по умолчанию 10MB)
MAX_FILE_SIZE=10485760 